.presentation,
.brief {
	width: 950px;
	margin: 50px auto;
	font-size: 18px;
}
.image-presentation {
	width: 950px;
	box-shadow: 3px 3px 8px black;
	opacity: 01;
}
.brief{
	width: 950px;
}
.bottom-nav{
	margin: 0 auto;
	max-width: 950px;
	display: flex;
	justify-content: space-around
}
.small-icon{
	width: 40px;
	opacity: .5;
	margin-bottom: 50px ;
}
.small-icon:hover{
	opacity: 1;
	cursor: pointer;
}

@media (max-width: 823px) {
	.presentation,
	.image-presentation,
	.brief {
		width: 350px;
		height: auto;
		font-size: 12px;
		text-align: center;
	}
}
