.resume{
width:800px;
margin: 0 auto;
text-align: left;
font-size: 14px;
}
h6 {
	box-shadow: 0px 4px 6px black;
}

.title{
    font-weight: 600;
    font-size: 17px;
}
.company{
    font-style: italic;
}

.spacer{
    height:40px
}
.repo-link {
    font-style: italic;
}
@media(max-width:823px) {
    .resume{
        width: 90vw;
        font-size: 12px;
    }
    .title{
        font-size: 14px;
    }
}