.icons {
	border-top: 1px solid rgba(224, 223, 213, 0.3);
	display: flex;
	justify-content: center;
	padding-top: 10px;
	margin: 10px auto;
}
.small-logo {
	width: 30px;
	margin: 5px 20px;
	opacity: 0.7;
}
.small-logo:hover {
	opacity: 1;
}
