* {
	background-color: rgb(39, 39, 39);
	color: rgb(224, 223, 213);
	font-family: 'Manrope';
}
header {
	height: 50px;
}
h6 {
	border-bottom: 1px solid rgb(39, 39, 39);
	box-shadow: 5px 5px 5px black;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-family: 'Muli';
	font-weight: lighter;
	margin-bottom: 50px;
}
.style-line {
	margin-top: 5px;
	margin-bottom: 5px;
	border-bottom: 0.5px solid rgba(224, 223, 213, 0.1);
	box-shadow: 5px 6px 6px rgb(224, 223, 213);
}
.about-me {
	max-width: 650px;
	text-align: center;
	margin: 20px auto;
}

.navbar {
	background-color: rgb(39, 39, 39);
}

.logo {
	width: 75px;
	height: auto;
	margin-bottom: 25px;
	margin-right: 20px;
	opacity: 0.7;
}
.small-logo {
	width: 30px;
	margin: 5px 20px;
}
.logo:hover {
	opacity: 1;
}
.icons {
	border-top: 1px solid rgb(224, 223, 213);
	display: flex;
	justify-content: center;
	padding-top: 10px;
	margin: 10px auto;
}

.skills-wrapper {
	display: flex;
	justify-content: space-evenly;
	width: 100vw;
	margin: 0 auto;
	margin-top: 50px;
	height: 167px;
}
.skill-box {
	box-shadow: 2px 2px 8px black;
	width: 250px;
	text-align: center;
	background-color: white;
	color: rgb(39, 39, 39);
	height: 530px;
}
.skill-box-text {
	display: block;
	margin: 7px auto;
	background-color: white;
	color: rgb(39, 39, 39);
	font-weight: 600;
}
.background-style {
	background-color: white;
	height: 400px;
	margin-bottom: 50px;
}

img {
	width: 250px;
	height: auto;
	object-fit: contain;
}
span {
	background-color: white;
	color: rgb(39, 39, 39);
	font-size: 14px;
	white-space: pre-wrap;
}

.project-images-container {
	display: flex;
	justify-content: space-around;
	width: 800px;
	margin: 50px auto;
}
.project-img {
	width: 350px;
	height: auto;
	margin: 0 auto;
	box-shadow: 3px 3px 8px black;
}
.project-container {
	position: relative;
	width: 350px;
	margin: 0 auto;
	padding: 0 0;
}
.project-container button {
	opacity: 0;
}
.project-container:hover img {
	filter: grayscale(50%);
	opacity: 0.5;
}
.project-container:hover button {
	opacity: 1;
}
.view-project {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid;
	width: 120px;
	height: 40px;
	text-align: center;
}
a {
	text-decoration: none;
	color: white;
}

/* RESPONSIVE */
@media (min-width: 1366px) {
	.skills-wrapper {
		width: 1300px;
	}
}

@media (max-width: 823px) {
	h6 {
		font-size: 14px;
	}
	.about-me {
		font-size: 12px;
		width: 350px;
		margin-bottom: 50px;
	}
	.style-line {
		margin-top: 5px;
	}
	.logo {
		width: 50px;
		height: auto;
	}
	.skills-wrapper {
		display: block;
		margin: 0 auto;
	}
	.background-style {
		height: 950px;
		opacity: 0;
	}
	.skill-box {
		margin: 20px auto;
	}
	.skill-box-text {
		width: 240px;
	}
	.project-image-wrapper {
		max-width: 350px;
		display: block;
		margin: 5px auto;
	}
	.project-img {
		margin: 10px auto;
	}
	.resume{
		width: 350px;

	}
}

@media (max-width: 375px) {
	.project-images-container {
		display: block;
		width: 350px;
		margin: 0 auto;
	}
	.resume{
		width: 350px;
		margin: 0 auto;
	}
}
